.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Dim background */
    z-index: 1000; /* Ensure it's on top */
    animation: slideDown 0.5s ease-out; /* Animation name, duration, and easing */
}

  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px; /* Fixed width */
  }
  

    
  
  .close {
    cursor: pointer;
    float: right;
    font-size: 24px;
  }
  
  
  .close {
    cursor: pointer;
    float: right;
    font-size: 24px;
  }
  
  .formField {
    margin-bottom: 16px;
  }
  #add-expense{

  }
  
  #add-expense label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #add-expense input[type="text"],
  #add-expense input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #add-expense .error {
    color: red;
    font-size: 0.875em;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  
  #add-expense button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  #add-expense button:hover {
    background-color: #45a049;
  }
  